.aadsso-login-form-text {
	text-align: center;
	padding: 20px 0px 30px 0px;
}

.aadsso-login-form-text a.dim,
.aadsso-login-form-text a.dim:visited,
.aadsso-login-form-text a.dim:active,
.aadsso-login-form-text a.dim:link {
	text-decoration: none;
	color: #aaa;
}
